<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="SensioTV">
    <meta name="description" content="An awesome SensioLabs University project to order some cool movies.">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=10"><![endif]-->

    <meta property="og:image" content="https://university.sensiolabs.com/images/sensiolabs-university-fullwhite.png">
    <meta property="og:title" content="SensioTV from SensioLabs University - Home">
    <meta property="og:description" content="An awesome SensioLabs University project to order some cool movies.">

    <title>SensioTV - Home</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <!-- Personal CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/sensiotv-theme.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/sensiotv-favicon.ico">
    <link rel="icon" type="image/png" href="/assets/images/sensiotv-icon.png">
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/sensiotv-icon.png">
</head>
<body>
<header>
    {{ include('_menu.html.twig') }}
    {% if app.request.attributes.get('_route') == 'home' %}
    <section id="video-header" class="video-background-holder">
        <div class="video-background-overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/assets/video/home-trailer.mp4" type="video/mp4"></video>
        <div class="video-background-content text-white text-center h-100">
            <div class="d-flex align-items-center h-100">
                <div class="w-100">
                    <h1 class="display-3 font-weight-bold m-0">Sensio<span class="color-green">TV+</span></h1>
                    <p class="lead"><strong class="font-weight-bold">We will make you love TV again. Share with your co-workers the movies or series you have watched to inspire them!<br /> Comment or vote for movies of your co-workers...</strong></p>
                    <p><a href="#first-section" title="Click here to get more information">Learn more <i class="far fa-arrow-alt-circle-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</header>

{% block body %}{% endblock %}


<footer class="container py-5 mt-5 mb-5">
    <div class="row">
        <div class="col-sm-5">
            <h5 class="font-weight-bold">Services</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/index.html" title="Back to the homepage">Home</a></li>
                <li><a class="text-muted" href="/movie-top-rated.html" title="Get all top rated movies">Top Rated</a></li>
                <li><a class="text-muted" href="/movie-genres.html" title="Find your movie by genre">Browse By Genre</a></li>
                <li><a class="text-muted" href="/movie-latest.html" title="Get all new movies">Latest</a></li>
                <li><a class="text-muted" href="/contact.html" title="You need some help ?">Help Center</a></li>
                <li><a class="text-muted" href="/login.html" title="Register or log in">Log In</a></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <h5 class="font-weight-bold">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <a href="#main" class="font-weight-bold text-dark">Back to top <i class="far fa-arrow-alt-circle-up"></i></a>
        </div>
        <div class="col-12">
            <p><strong>SensioTV+</strong> by <strong>Sensio<span class="color-green">Labs</span></strong> University<br><small class="d-block mb-3 text-muted">&copy; 2017-2020</small></p>
        </div>
    </div>
</footer>

<!-- Vendor JS -->
<script src="https://kit.fontawesome.com/8d75946265.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</body>
</html>